:root{
	--blue: dodgerblue;
	--blanck: white;
	--blue2:rgba(190, 219, 245, 0.301);
	--att:firebrick;
	--suc:deepskyblue;
	--err:tomato;
}
@font-face{
    font-family: Merienda;
    src: url(Merienda-Regular.ttf);
}
@font-face{
    font-family: Mont;
    src: url(Montserrat-Regular.ttf);
}
@font-face{
    font-family: Meri;
    src: url(Merriweather-Regular.ttf);
}
.img1{
    width: 100%;
    height: 85vh;
}
/* annimation du test img */
div .mots{
    position: absolute;
    font-size: 45px;
    font-weight: 600;
    color: var(--blanck);
    margin: -400px 235px;
    animation-duration: 3s;
    animation-name: stephane;
    animation-iteration-count: 2;
}
@keyframes stephane{
    from{
        margin-left: 0px;
        
    }
    to{
         margin-left: 235px;
        
    
    }
}
.im{
    width: 200%;
}
    
.service img{
    margin: 10% 40%;
}
.content{
    display: flex;
    width: 100%;
}


    .btn1{ 
        position: absolute;
        z-index: 1;
        text-align: center;
        margin: 400px -50%;
        background-color: transparent;
        color: var(--blanck);
        border-radius: 25px;
        font-size: 22px;
        padding: 15px;
        border: solid 2px var(--blanck);

    }
.txt{
    background-color: var(--blanck);
    box-shadow:15px 12px 13px 12px var(--blue2) ;
    border-radius: 15px;
    width: 50%;
    padding:0px 20px;
}
.contentImages{
    margin-left: 30px;
    width: 50%;
}
.zoom img{
    height: 70vh;
}
.txt p{
    margin-top: 1%;
    width: 100%;
    text-align: justify;
}
p img{
    width: 3%;
    height: 3%;
}
h3{
    color: dodgerblue;
    text-align: center;
    font-family: Merienda;
    font-weight: bold;
    font-size: 20pt;
    text-transform: uppercase;
}


p{
    font-size: 13pt;
    font-family: Meri;
}
.localisation{
	display: flex;
	background: var(--blue2);
}
#mapDiv{
	border-radius: 10px
    width: 40%;
    height: 50vh;
    border: 1px solid #efefef;
    margin: auto;
    -moz-box-shadow: 5px 5px 10px #000;
    -webkit-box-shadow: 5px 5px 10px #000;
}
.locdiv{
	margin: 0 10px;
	border-radius: 10px
    width: 60%;
    height: 50vh;
}

    .zoom img{
        transform: scale(1);
        transition:all 1s ease-in-out;
    }
    .zoom:hover img{
        transform: scale(1.5);
    }
    div .zoom{
        overflow: hidden;
        border-radius: 13px;
        
    }


@media all and (max-width: 550px){

	.img1{
		width: 100%;
		height: 65vh;
	}
	div .mots{

	}
    /* annimation du test img */
    div .mots{
        position: absolute;
        font-size: 22px;
        font-weight: 600;
        color: var(--blanck);
        margin: -320px 20px;
        animation-duration: 3s;
        animation-name: stephane;
        animation-iteration-count: 1;
    }
    @keyframes stephane{
        from{
            margin-top: -1000px;
            
        }
        to{
             margin-top: -320px;
            
        
        }
    }
    .btn1{ 
        cursor:pointer;
        position: absolute;
        z-index: 1;
        text-align: center;
        margin: 250px -90%;
        background-color: transparent;
        color: var(--blanck);
        border-radius: 25px;
        font-size: 22px;
        padding: 15px;
        border: solid 2px var(--blanck);

    }
    .btn1:hover{
        background-color: var(--blue);
        color: var(--blanck);
        border: none;
        padding: 15px;

    }

    .content{
        display: block;
        width: 90%;
    }
    .txt{
        background-color: var(--blanck);
        box-shadow:15px 12px 13px 12px var(--blue2) ;
        border-radius: 15px;
        width: 100%;
        padding:0px 20px;
    }
    .contentImages{
        width: 100%;
    }
    .zoom img{
         width: 100%;
        height: 65vh;
    }
    .txt p{
        margin-top: 2%;
        width: 100%;
        text-align: justify;
    }

    p img{
        width: 5%;
        height: 5%;
        margin: -5px 2px -8px 0px;
    }
    
    h3{
        color: dodgerblue;
        text-align: center;
        font-family: Merienda;
        font-weight: bold;
        font-size: 20pt;
        text-transform: uppercase;
    }

    .third p, .first p{
        margin-top: 60px;
    }
    .fourth p {
        margin-top: 80px;
    }
    .container h3{
        width: 90%;
        padding: 20px;
        font-size: 20px;
        background-color: var(--blue);
        color: white;
        text-align: center;
    }

    p{
        font-size: 11pt;
        font-family: Meri;
    }
    .localisation{
        display: block;
        background: var(--blue2);
    }
    #mapDiv{
        border-radius: 10px
        width: 100%;
        height: 50vh;
        border: 1px solid #efefef;
        margin: auto;
        -moz-box-shadow: 5px 5px 10px #000;
        -webkit-box-shadow: 5px 5px 10px #000;
    }
    .locdiv{
        margin: 200px 0px;
        border-radius: 10px
        width:100%;
        height: 40vh;
    }
    .icons p{
        text-align: center;
        text-transform: capitalize;
    }
    .zoom img{
        transform: scale(1);
        transition:all 1s ease-in-out;
    }
    .zoom:hover img{
        transform: scale(1.5);
    }
    div .zoom{
        overflow: hidden;
        border-radius: 13px;
        
    }

}




@media all and (max-width: 400px){

    .img1{
        width: 100%;
        height: 55vh;
    }

    div .mots{
        position: absolute;
        font-size: 6vw;
        font-weight: 600;
        color: var(--blanck);
        margin: -340px 20px;
        animation-duration: 3s;
        animation-name: stephane;
        animation-iteration-count: 1;
    }
    @keyframes stephane{
        from{
            margin-top: -1000px;
            
        }
        to{
             margin-top: -340px;
            
        
        }
    }
    section{
        width: 100%;
        margin: 0px;
        overflow: hidden;
    }

    footer{
        width: 100%;
        margin: 0px;
        overflow: hidden;
    }

    .content{
        display: block;
        width: 100%;
    }
    .txt{
        background-color: var(--blanck);
        box-shadow:15px 12px 13px 12px var(--blue2) ;
        border-radius: 15px;
        width: 100%;
        padding:0px 20px;
    }
    .contentImages{
        width: 90%;
    }

    .zoom{
        margin-left: -20px;
    }
    .zoom img{
         width: 100%;
        height: 55vh;
    }
    .txt p{
        margin: 2% 0;
        width: 90%;
        height: 100%;
        font-size:3.8vw;
        text-align: justify;
    }

    p img{
        width: 5%;
        height: 5%;
        margin: -5px 2px -2px 0px;
    }
    .service img{

        width: 25%;
        height: 25%;
        margin: 15px 30%;
    }
    .btn1{ 
        cursor:pointer;
        position: absolute;
        z-index: 1;
        text-align: center;
        margin: 200px -92%;
        background-color: transparent;
        color: var(--blanck);
        border-radius: 25px;
        font-size: 6vw;
        border: solid 2px var(--blanck);
        padding: 10px;

    }
    .btn1:hover{
        background-color: var(--blue);
        color: var(--blanck);
        border: none;
        padding: 15px;

    }
    h3{
        color: dodgerblue;
        text-align: center;
        font-family: Merienda;
        font-weight: bold;
        font-size: 20pt;
        text-transform: uppercase;
    }

    .container h3{
        width: 90%;
        padding: 20px;
        font-size: 4.8vw;
        background-color: var(--blue);
        color: white;
        text-align: center;
    }

    p{
        font-size: 11pt;
        font-family: Meri;
    }
    .localisation{
        display: block;
        background: var(--blue2);
    }
    #mapDiv{
        border-radius: 10px
        width: 100%;
        height: 50vh;
        border: 1px solid #efefef;
        margin: auto;
        -moz-box-shadow: 5px 5px 10px #000;
        -webkit-box-shadow: 5px 5px 10px #000;
    }
    .locdiv{
        margin: 200px 0px;
        border-radius: 10px
        width:100%;
        height: 40vh;
    }
    .icons p{
        text-align: center;
        text-transform: capitalize;
    }
    .zoom img{
        transform: scale(1);
        transition:all 1s ease-in-out;
    }
    .zoom:hover img{
        transform: scale(1.5);
    }
    div .zoom{
        overflow: hidden;
        border-radius: 13px;
        
    }

}